@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
:root {
    --accent: #170e0e;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  background-color: #ffffff;
  color: #060606;
  max-width: 700px;
  text-align: left;
  margin-top: 4rem;
  font-size:18px;
  padding: 0 2rem;
  
}

@media (max-width: 800px) {
  body{
    font-size: large;
  }
}

header {
  padding-bottom: 0rem;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: var(--accent);
  font-weight:bolder;
  font-size:large;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  line-height: 1.2;
}

ul {
  list-style:none;
  padding: 0;
  line-height: 2;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

a {
  color: var(--accent);
}

footer {
  font-size:x-small;
  font-style: italic;
}